# !!! REMOVE .example from the end of the file when using

# Bambulabs Printer Configuration
PRINTER_IP=192.168.0.0
PRINTER_SERIAL=000000000000000
PRINTER_ACCESS_CODE=00000000

# Debug mode (set to True to enable)
DEBUG=False

# Bambulab cloud credentials
BAMBU_EMAIL=your-email@example.com
BAMBU_PASSWORD=example-passsword